:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #ffffff;
  --color-bg: #343d4b;
  --color-primary-inverted: #000000;
  --color-bg-card: #272e37;
  --color-bg-main: #222831;
  --color-bg-last-card: #3a434f;
  --color-text-placeholder: #3f4958;
  --gradient: linear-gradient(91deg, rgba(144, 217, 224, 0.9) 0.2%, rgba(84, 96, 230, 0.9) 100%);
  --gradient-inverted: linear-gradient(
    256deg,
    rgba(144, 217, 224, 0.9) 9.04%,
    rgba(84, 96, 230, 0.9) 92.2%
  );
  --font: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
